---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
    <div class="flex p-[15rem] justify-center">
       <h1 class="text-[50px] font-extrabold">Error 404 Not Found</h1> 
    </div>    
    
</Layout>