---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="About.">
  <main>
    <h1>
      About The Project
    </h1>

    <p>
      This is a page built with astro and tailwind with educational porpuses
    </p>
  </main>
</Layout>
