---
import Layout from "../layouts/Layout.astro";
import Launches from "../components/Launches.astro";

---

<Layout title="Launches">
	<div class="flex justify-center mt-[-1rem] mb-5"	>
		<h1 class="font-black sm:text-[7rem] text-7xl">
			SpaceX Launches
		</h1>
	</div>
	
	<Launches />
</Layout>


<style>
	body {
	  background-image: url(/bg3.webp);
	  background-size: cover;
	  background-attachment: fixed;
	  background-position: center center;
	}
  </style>