---
import Layout from "../layouts/Layout.astro";

---

<Layout title="SpaceX">
	<div class="flex justify-center mt-[-1rem] mb-5">
		<h1 class="font-black sm:text-[7rem] text-7xl">About This Project</h1>
	</div>	
	<p class="text-3xl text-justify font-bold mt-24 sm:mb-[5rem] md:mb-[10rem] lg:mb-[20rem]">
		This website is built with Astro, Tailwind CSS and Typescript.
		It is important to note that none of the images on the site belong to me.
		<br>
		<br>
		The main purpose of this project is to serve as testing ground for the Astro framework.
		<br>
		<br>
		The data is fetched from two SpaceX API's.
	</p>
</Layout>

<style>
	@keyframes slidein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
	}

	body {
		animation: slidein 0.5s ease-in-out;
		background-image: url(/bg6.webp);
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
	}
	h1 {
		animation: slidein 1s ease-in-out;
	}
	p {
		animation: slidein 1s ease-in-out;
	}
</style>