---
import Layout from "../layouts/Layout.astro";

---

<Layout title="SpaceX">
	<div class="flex justify-center">
		<h1 class="text-9xl">Main Menu</h1>
	</div>	
</Layout>

<style>
	body {
		background-image: url(../../public/background.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
	}
</style>