---
interface Props {
  bgColor: string;
  textColor: string;
  href: string;
}

const {
  bgColor = "bg-sky-600",
  textColor = "text-white",
  href = "#",
} = Astro.props;

const buttonClass = `
  flex-row justify-center  text-white cursor-pointer font-medium rounded-md 
  px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 hover:shadow-lg 
  transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 
  opacity-90 hover:opacity-100 ${bgColor} ${textColor}`;
---

<a 
  class={buttonClass}
  href={href}>
  <slot>default button content</slot>
</a>
