---
import Button from "./Button.astro";

---

<header class="py-8 px-4 mx-auto max-w-xl lg:py16 lc:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      SpaceX Launches
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      All the information avout SpaceX launches
    </p>
  </div>
  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <Button 
      bgColor = "bg-white"
      textColor = "text-stone-900"
      href = "/"
    >
      Home
    </Button>
    <Button 
      bgColor = "bg-white"
      textColor = "text-stone-900"
      href = "/about"
    >
      About
    </Button>
    <Button 
      bgColor = "bg-white"
      textColor = "text-stone-900"
      href = "#"
    >
      Nothing
    </Button>
  </nav>
</header>
