---
import Logo from "./Logo.astro";

import { getRockets } from "../services/spacexv4";
const rocketDocs = await getRockets();
---

<body>
  <nav
    class="px-4 sm:py-5 lg:py-7 py-3 flex fixed w-full justify-between items-center backdrop-blur-xl z-50"
  >
    <!-- Icon -->
    <div>
      <Logo />
    </div>

    <!-- Burger menuu!! -->
    <div class="lg:hidden">
      <button class="navbar-burger flex items-center white-white p-3">
        <svg
          class="block h-4 w-4 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu Mobile</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>

    <ul
      class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:mx-auto lg:flex lg:items-center lg:w-auto lg:gap-10 lg:text-[20px]"
    >
      <li>
        <a
          class="hover:bg-stone-500/50 p-5 rounded-lg transition-all ease-in-out"
          href="/allLaunches">Launches</a
        >
      </li>

      {
        rocketDocs.map(({ name, id }) => (
          <li>
            <a
              class="hover:bg-stone-500/50 p-5 rounded-lg transition-all ease-in-out"
              href={`/rocket/${id}`}
            >
              {name}
            </a>
          </li>
        ))
      }

      <li>
        <a
          class="hover:bg-stone-500/50 p-5 rounded-lg transition-all ease-in-out"
          href="/">About</a
        >
      </li>
    </ul>
  </nav>

  <!-- Menu Mobile -->
  <div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
      class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-stone-800 border-r overflow-y-auto"
    >
      <!-- Cruz para cerrar menu Mobile -->
      <div class="flex items-center mb-8">
        <a class="mr-auto text-3xl font-bold leading-none" href="#"> </a>
        <button class="navbar-close">
          <svg
            class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            >
            </path>
          </svg>
        </button>
      </div>
      <!-- Contenido menu Mobile -->
      <div>
        <ul>

          <li>
            <a
            class="block p-4 text-sm font-semibold text-gray-300 hover:bg-blue-50 hover:text-stone-800 rounded"
              href="/">About</a
            >
          </li>
          
          {
            rocketDocs.map(({ name, id }) => (
              <li>
                <a
                class="block p-4 text-sm font-semibold text-gray-300 hover:bg-blue-50 hover:text-stone-800 rounded"
                  href={`/rocket/${id}`}
                >
                  {name}
                </a>
              </li>
            ))
          }

          <li class="mb-1">
            <a
              class="block p-4 text-sm font-semibold text-gray-300 hover:bg-blue-50 hover:text-stone-800 rounded"
              href="/allLaunches">Launches</a
            >
          </li>

        </ul>
      </div>
    </nav>
  </div>
</body>

<script>
  // Burger menus
  document.addEventListener("DOMContentLoaded", function () {
    // open
    const burger = document.querySelectorAll(".navbar-burger");
    const menu = document.querySelectorAll(".navbar-menu");

    if (burger.length && menu.length) {
      for (var i = 0; i < burger.length; i++) {
        burger[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    // close
    const close = document.querySelectorAll(".navbar-close");
    const backdrop = document.querySelectorAll(".navbar-backdrop");

    if (close.length) {
      for (var i = 0; i < close.length; i++) {
        close[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }

    if (backdrop.length) {
      for (var i = 0; i < backdrop.length; i++) {
        backdrop[i].addEventListener("click", function () {
          for (var j = 0; j < menu.length; j++) {
            menu[j].classList.toggle("hidden");
          }
        });
      }
    }
  });
</script>
