---
import { getRockets } from "../services/spacexv4";
import CardRocket from "../components/CardRocket.astro";


const rocketDocs = await getRockets();

rocketDocs.map((rocket) => {
  console.log(rocket.id)
})
 
---

<div class="grid gap-8 sm:gird-cols-2 lg:grid-cols-3 py-[3rem]">
  {
    rocketDocs.map(({ name, wikipedia, first_flight, country, cost_per_launch, description, success_rate_pct, height, engines, }) => (
      <CardRocket 
        name={name}
        country = {country}
      />  
    ))
  }
</div>

<p>hola</p>
