---
import CardRocket from "./CardRocket.astro";

import { getRockets } from "../services/spacex";
import { type Api4SpaceXResponse } from "../types/api4";


const rockets: Api4SpaceXResponse = await getRockets();

const rocketDocs = rockets.docs;

console.log(rocketDocs)

rocketDocs.map(({name, country, company, description}) => {
    console.log(name)
    console.log(country)
    console.log(company)
    console.log(description)
})
---

<div class="grid gap-8 sm:gird-cols-2 lg:grid-cols-3 py-[3rem]">

</div>

<p>hola</p>